body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  margin: 0;
  background: black;
  color: lime;
}

h1 {
  margin: 10px;
}

#output, #input {
  font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 12pt;
  width: 100%;
  margin: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

/* TODO: https://css-tricks.com/snippets/css/style-placeholder-text/ */

#input>input {
  background: black;
  color: lime;
  font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 12pt;
  border: none;
}

#input>input:focus {
  outline: 0;
}

#output {
  max-height: 80%;
  font-size: 12pt;
}

#output>.oldInput {
  display: block;
  margin: 0;
  margin-top: 10px; /* to match the input field */
}

#output>.response {
  display: block;
  margin: 0;
  padding-left: 1em;
}

/* Color the selections on the page to a dark green */
::-moz-selection { /* ::selection is vendor-prefixed in FF right now */
  background: darkgreen;
}
::selection {
  background: darkgreen;
}

/* Add opactiy on Webkit to match FF placeholder color */
::-webkit-input-placeholder {
  opacity: 0.54;
  color: lime;
}
